<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.shangtanlin.mapper.CartItemMapper">
    <delete id="deleteByUserIdAndSkuIds">
        DELETE FROM cart_item
        WHERE user_id = #{userId}
        AND sku_id IN
        <foreach collection="skuIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>





</mapper>